/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root {
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
    --cor-de-fundo: #F5F5F5;
    --cor-de-link: #000;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo);
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}

ol,
ul,
li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 

Mas o que é o BEM?

BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.

Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

.menu,
.title,
.experience {
    padding: 0px 100px;
}

/*Sessão Menu*/
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    Height: 88px;
}

.menu header {
    display: flex;
    align-items: center;
    width: (134px)px;
    height: (24px)px;
    gap: 8px;
    opacity: 0px;

}

.menu__list {
    display: flex;
    width: Hug (642px)px;
    height: Hug (19px)px;
    gap: 32px;
    opacity: 0px;

}


/*Sessão Title*/
.title {
    margin: 32px 0px;
}

.title__div {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
}

.foto__profissional {
    border-radius: 200px;
    width: 386px;
}

.title__container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title__bio {
    font-size: 52px;
}

.title__subsection {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 400;
    line-height: 25.83px;
    text-align: left;

}

.title__network {
    display: flex;
    padding: 0;
    width: 440px;
    justify-content: space-between;
}

/*Sessão About*/

section.about {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.about__container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    padding: 40px 100px;

}

.skills__line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;



}

.skills {
    padding: 40px 100px;
    align-items: center;
    flex-direction: column;

}

.skills__box {

    width: 174px;
    height: 176px;
    background: #fff;
    display: flex;
    align-items: flex-end;

}

.skills__box ul {
    display: flex;
    gap: 10px;
    flex-direction: column;
    padding-left: 16px;
    font-weight: 600;
}

.skills__title {

    text-align: center;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.about__title {
    font-size: 35px;
}


/*Sessão Hobbies*/

.hobbies {
    padding: 40px 100px;
    display: flex;
    flex-direction: column;


}

.hobbies__title {
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}

.hobbies__line {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 10px;
}

.hobbies__line li {
    text-align: center;
    font-size: 18px;
    padding: 10px;

}




/* Experiência Acadêmica*/

.academic__courses {
    display: flex;
    justify-content: center;

}

.experience__section__title {

    font-size: 30px;
}

.academic__courses__item__subtitle {
    font-size: 20px;
}

.academic__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 12%;
}



/* experiência*/
.experience
{
    display: grid;
    gap: 64px;
}

.experience__section__title {
    font-size: 36px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
}

.experiencie__box {
    display: flex;
    align-items: center;
    column-gap: 16px;
}


.experience__info .experience__text
{
    font-size: 16px;
    font-weight: 100;
}
.experience__img {
    max-width: 80%;
}
.experiencie__box:nth-child(3n) {
    flex-direction: row-reverse;
  }
.experience__description
{
    display: flex;
    gap: 8px;
}
.experience__description .botao__paragit
{
    padding: 16px;
    border: 1px solid #2A7AE4;
    color: #2A7AE4;
}
.experience__description button {
    cursor: pointer;
}
.experience__description .botao__parasite
{
    padding: 16px;
    border: 1px solid #2A7AE4;
    background-color: #2A7AE4;
    color: #fff;

}

.botao__paragit {

    width: 116px;
    height: 51px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
}


.botao__parasite {
    width: 105px;
    height: 51px;
    padding: 16px 0px 0px 0px;
    gap: 10px;
    opacity: 0px;
    background-color: turquoise;
}






/*Contato*/

section.formcontato {}

/*footeer*/

section.footer {}

/* Chegou a hora de se desafiar com a responsividade, 
utilize como referência os breakpoints @media abaixo*/

/*Tablet*/
@media (min-width: 768px) {

    /* Menu */

    /*title*/

    /*Skills*/

    /*Hobbies*/

    /*Experiências acadêmicas*/

    /*Expeirência profissional*/

}

/*Mobile*/
@media (min-width: 425px) {

    /*Menu*/

    /*Titulo*/

    /*Sessão sobre*/

    /*Skills*/

    /*Hobbies*/

    /*Formação Acadêmica*/

    /*Experiência Profissional*/

    /*Contato*/

    /*Footer*/

}